@charset "utf-8";

/*

		Style sheet of Alex L. Murphy's website.
		Author: Alex Murphy
		Date:   5/14/20

		Filename: AM_styles.css

*/

html {
   background-color: rgb(185, 217, 235); /* CU Color */
   font-family: Georgia, serif; 
   /* background: rgb(185, 217, 235) url(potentialbackground2.png) repeat; */
}

article, footer, hr  {
	background-color: white;
	margin-left: auto;  /* set to auto for horizontal centering */
	margin-right: auto; /* set to auto for horizontal centering */
	font-size: 1.2em;
	line-height: 1.3em; /* Overrides style sheet of 1em height */
}

article {
	padding-top: 0.7em;
}

h1 {
	margin-left: 1em;
	font-size: 1em;
}

p {
	padding: 0em 1em 0em 1em;
	text-align: justify;
}

@media screen and (max-width: 768px) {	
	body {
		width: 100%;
	}
	
	.Navigation a {
		font-size: 1.4em;
	}
	
	li#here {
		font-size: 1.4em;
	}
	
	.Navigation li {
		flex: 1 1 100%;
		-webkit-flex: 1 1 100%;
	}
	
	#box-shadow {
		width: 100%;
	}
}

@media screen and (min-width: 769px) {
	#box-shadow {
		width: 65%; /* Encompasses article, footer */
		margin: auto;
		-moz-box-shadow: black 0px 0px 20px;
		-webkit-box-shadow: black 0px 0px 20px;
		box-shadow: black 0px 0px 20px;
	}
	
	.Navigation a {
		font-size: 2em;
	}
	
	li#here {
		font-size: 2em;
	}
	
	.Navigation li {
		flex: 1 1 20%;
		-webkit-flex: 1 1 20%;
	}
	
	img#CU, img#HC {
		border-left: 1px solid black;
	}
}

article > img#Head {
	display: block;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(45, 42, 98); /* navy blue */
	margin-bottom: 1em;
	filter: saturate(1); /* consider saturation */
	padding: 7px;
	max-width: 350px;
	background-size: cover;
}

/* img#CU { */
	/* display: block; */
	/* float: right; */
	/* width: 22%; */
	/* margin: 1.3em 1em 0em -1px;  /* -1px is a hack */
	/* padding: 1em 1em 1em 1em; */
	/* border: 1px solid black; */
	/* /* background-image: url(potentialbackground2.png); */
	/* /* background-size: contain; */ 
/* } */

/* img#HC { */
	/* display: block; */
	/* float: right; */
	/* width: 22%; */
	/* margin: 1.3em 0em 0em 0.7em; */
	/* padding: 1em 1em 1em 1em; */
	/* border: 1px solid black; */
/* } */

/* img#HC { */
	/* display: block; */
	/* float: right; */
	/* width: 39%; */
	/* margin: 1.3em 1em 0em 0.7em;  */
	/* padding: 1em 5vw 1em 5vw; /* Vertical padding for aspect ratio */ 
	/* border: 1px solid black; */
/* } */

/* img#CU { */
	/* display: block; */
	/* float: right; */
	/* clear: right; */
	/* width: 39%; */
	/* margin: -1px 1em 0em 0.7em; /* -1px is a hack */ 
 
	/* padding: 1em 0.5vw 1em 0.5vw; */
	/* border: 1px solid black; */
	/* /* background-image: url(potentialbackground2.png); */ 
	/* /* background-size: contain; */ 
/* } */

img#HC {
	display: block;
	float: right;
	width: calc(50% - 1em); /* 1em is right side margin */
	margin: 1.3em 1em 0em 1vw; 
	padding: 1em 6.5vw 1em 6.5vw; /* Horizontal padding for apparent aspect ratio */
}

img#CU {
	display: block;
	float: right;
	clear: right;
	width: calc(50% - 1em); /* 1em is right side margin */
	/* -1px is a hack, 1em is to match right side html margin of 1em */
	/* left margin and left padding must match for symmetrical space from border */
	margin: -1px 1em 0em 1vw; 
	/* left and right padding must match, top and bottom padding must match */
	padding: 1em 1vw 1em 1vw;

	/* background-image: url(potentialbackground2.png); */
	/* background-size: contain; */
}

img#Datalogger {
	margin: 0em 1em 0em 1em;
	display: block;
	float: right; 
	width: 37%;
	outline: 1px solid black;
}

.Navigation {
	-moz-box-shadow: black 0px 0px 20px;
	-webkit-box-shadow: black 0px 0px 20px;
	box-shadow: black 0px 0px 20px;
}

.Navigation a {
	display: block; /* makes the hyperlink into a block covering the whole element */
	text-decoration: none;
	font-variant: small-caps;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: rgb(45, 42, 98); /* navy blue */
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

.Navigation a:hover {
	/*background-color: rgb(150, 150, 150);*/
	background: linear-gradient(rgb(85, 85, 85), rgb(185, 185, 185), rgb(85, 85, 85));
}

.Navigation li {
	/*background-color: rgb(210, 210, 210);*/
	background: linear-gradient(rgb(155, 155, 155), white, rgb(155, 155, 155));
	text-align: center;
}

.Navigation ul {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;

}

li#here {
	background: rgb(45, 42, 98);
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	/* font-size: 1.50vmax; */
	font-family: Arial, sans-serif;
	font-variant: small-caps;
	font-weight: bold;
	color: rgb(247, 247, 247); /* very close to white */
}

.formRow {
	display: -webkit-flex;
	display: flex;
}

#fName, #lName, .caption-text {
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	flex: 1 1 50%;
}

#fName {
	margin-right: 10px;
	margin-bottom: 0px;
}

#lName {
	margin-left: 10px;
	margin-bottom: 0px;
}

.caption-text {
	font-size: 0.65em;
	margin-bottom: 1em;
}

#button {
	display: block;
	margin: auto;
	width: 150px;
	background: rgb(45, 42, 98);
	color: white;
	font-size: 1.1em;
	font-family: sans-serif;
	border: 2px outset rgb(45, 42, 98); /* Looks like an inset border by default */
	border-radius: 15px;
}

#button:hover {
	/* 65, 62, 118 70, 67, 134*/
	border: 2px solid rgb(95, 95, 160); 
	background: rgb(95, 95, 160);
}

input, textarea {
	font-family: 'Courier New';
	font-weight: bold;
	font-size: 0.9em;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	flex: 1 1 100%;
	width: 45%;
	margin-bottom: 1em;
	border-radius: 10px;
	border: 1px inset rgb(155, 155, 155);
	padding: 5px;
	/* background-color: rgb(170, 170, 170); enable when the form is not working */
	background-color: rgb(225, 225, 225);
}

textarea {
	height: 80px;
	margin-bottom: 0px;
	resize: vertical;
	min-height: 2em;
}

fieldset {
	border: none;
	margin: 0em 1em 1em 1em;
}

footer {
	display: block;
	text-align: center;
	/*background: linear-gradient(to left, rgb(45, 42, 98), white 20%, white 50%, white 80%, rgb(45, 42, 98));*/
	background: rgb(45, 42, 98);
	color: rgb(247, 247, 247); /* very close to white */
}

hr {
	padding-bottom: 1em;
	/* border-bottom: 1px solid black;  /* 1px thick line */
}

* {
	/* outline: 1px solid red; */
}